@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h1>List Product</h1>
<a asp-area="Admin" asp-action="Create" asp-controller="Product" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add product</a>
<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Slug</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Manage</th>

            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Slug</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td><img src="~/images/@item.Image" width="120px"></img></td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm " asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>